ul {
    padding: 0;
    list-style-type: none;
}
.table {
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 750px;
}
.verticalText {
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    transform: rotate(-90deg) translate(-50%, -50%);
    transform-origin:0 0;
    position: absolute;
}
tr {
    height: 45px;
}
tr>td {
    width: 150px;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
tr>td:first-child {
    border-left: 1px solid #ddd;
}
tr>.small {
    width: 37px;
}
thead>tr {
    position: relative;
    display: block;
    height: 133px;
}
thead>tr>td {
    height: 130px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.scroller-y {
    display: block;
    overflow-y: scroll;
    height: 100%;
    width: 1005px;
}
.resources {
    width: 1005px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    background-color: grey;
    white-space: nowrap;
}
.resources>span {
    display: inline-block;
    width: 33%;
}
.end-season-button {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    text-align: center;
}
.end-season-button>a {
    background-color: grey;
    color: blue;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 30px;
}
.end-season-button>:hover {
    background-color: LightGrey;
    color: black;
}
.actionshead {
    width: 415px;
}
.actions {
    width: 400px;
}
.wrapper {
    height: 100%;
}
@media (max-width: 1920px) {
    .table {
        height: 750px;
    }
}
@media (max-width: 1440px) {
    .table {
        height: 600px;
    }
}
@media (max-width: 1280px) {
    .table {
        height: 550px;
    }
}
@media (max-width: 960px) {
    body {
        margin: 0;
    }
    .table {
        height: 390px;
    }
}
